.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3d3d3d;
    color: #fff;
    padding: 14px;
  }